<div class="mainContainer">
  <div class="pageHeading">
    <div class="mainSection">
      <img src="/assets/visor_logo.svg" class="logo" alt="Left Logo" />
      <h1 class="mainText">Welcome to VISOR</h1>
      <img src="/assets/visor_logo.svg" class="logo" alt="Right Logo" />
    </div>
    <h3 class="subText">The best place to visualize F1 data</h3>
  </div>

  <div class="container">
    <app-year-points></app-year-points>
    <app-wins-per-country></app-wins-per-country>
    <app-age-distribution></app-age-distribution>
  </div>
</div>
